<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.vasp.modules.mapper.DayInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.glsx.vasp.modules.entity.DayInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="daycode" jdbcType="INTEGER" property="daycode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tip" jdbcType="VARCHAR" property="tip" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, `date`, daycode, `name`, tip
  </sql>


  <!--批量插入或更新

  CREATE TABLE `smart_date` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date` varchar(20) DEFAULT NULL COMMENT '当前阳历日期,如：2019-10-01',
  `daycode` int(4) DEFAULT NULL COMMENT '日期类型，为0表示工作日、为1节假日、为2双休日、3为调休日（上班）',
  `name` varchar(20) DEFAULT NULL COMMENT '节假日名称，如：国庆节',
  `tip` varchar(50) DEFAULT NULL COMMENT '放假提示，如：10月1日至7日放假调休，共7天......	',
  PRIMARY KEY (`id`),
	UNIQUE KEY `index_date` （`date`）
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COMMENT='工作节假日表';-->
  <update id="updateDayInsert">
    INSERT INTO `smart_date` (`id`, `date`, `daycode`, `name`,`tip`) VALUES
    <foreach collection="daysYear" item="day" separator=",">
      (#{day.id},#{day.date},#{day.daycode},#{day.name},#{day.tip})
    </foreach>
    on DUPLICATE key update
    `daycode` = values(`daycode`),
    `name` = values(`name`),
    `tip` = values(`tip`)
  </update>

  <select id="getDayCodeByDate" resultType="integer">
    select `daycode` from smart_date where date = #{date}
  </select>

</mapper>