<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.vasp.modules.mapper.ScenseDataMapper">
  <resultMap id="BaseResultMap" type="cn.com.glsx.vasp.modules.entity.ScenseData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, template_id, `type`, sort, param_key, param_value
  </sql>

  <!-- 查询符合周期（每天+当天类型）且满足任意条件触发 -->
  <select id="getScenseAnyCondition" resultMap="BaseResultMap">
    select smsd.* from smart_scene sms INNER JOIN smart_scene_data smsd on sms.id = smsd.scene_id where sms.status = 1 and sms.execute_cycle in (1,#{executeCycle}) and sms.condition_rule = 1 and smsd.type = 1
  </select>

  <!-- 查询符合周期（每天+当天类型）且满足全部条件触发 -->
  <select id="getScenseAllCondition" resultMap="BaseResultMap">
    select smsd.* from smart_scene sms INNER JOIN smart_scene_data smsd on sms.id = smsd.scene_id where sms.status = 1 and sms.execute_cycle in (1,#{executeCycle}) and sms.condition_rule = 2 and smsd.type = 1
  </select>
</mapper>